global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'flask-app'
    static_configs:
      - targets: ['smartroad_app_flask:5000']  # ⚠️ TROCA pelo nome do seu container Flask
