certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
Flask==3.1.2
flask-cors==6.0.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
requests==2.32.5
urllib3==2.5.0
Werkzeug==3.1.4
gunicorn
python-dotenv
groq
pandas
redis
prometheus-flask-exporter==0.23.0
geopy==2.4.1
SQLAlchemy==2.0.45
Flask-SQLAlchemy==3.1.1
bcrypt==5.0.0
flask-limiter==4.1.1
flask-jwt-extended==4.7.1
alembic==1.13.1
